<div data-sly-use.fragment="uk.ac.nhm.core.componentHelpers.fragments.TextImage" class="cq-dd-fragment" data-emptytext="Content Fragment">

    <div data-sly-test="${!fragment.isConfigured}">
        <div class="row">
            <h4>Text image fragment</h4>
            Required fields:
            <ul>
                <li>Content fragment reference</li>
            </ul>
        </div>
    </div>

    <div data-sly-test="${fragment.isConfigured}" class="headertextimage parbase section">
    	<div class="hti-wrapper hti-padding">
            <div class="hti--image-wrapper columns small-12 medium-12 large-12">
                <a href="${fragment.link}">
                    <img src="${fragment.imagePath}"/>
                </a>
            </div>
            <div class="hti-box end columns hti-box__light-grey small-12 medium-12 large-12">
                <div class="small-12 medium-12 large-12 column hti-box--text-wrapper">
                    <p>${fragment.text @ context='html'}</p>
                </div>
                <div data-sly-test="${fragment.showCta}" class="small-11 medium-11 large-11 columns right ctabutton--inside-hti">
                    <a href="${fragment.link}">
                        <div class="small-2 medium-2 large-2 columns">
							
                        </div>
                        <div class="small-7 medium-7 large-7 columns">
                            <h3 class="ctabutton--inside-hti--cta-text">${fragment.ctaText}</h3>
                        </div>
                        <div class="small-3 medium-3 large-3 columns">
                            <i class="ico svg-ico arrowl" data-svg-src="/etc/designs/nhmwww/img/svg-icons/icon_l_general_arrow_r.svg" data-svg-title="icon__arrow"></i>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    
	<!-- No styling -->
	<!-- <div data-sly-test="${fragment.isConfigured}">
        <a href="${fragment.link}">
            <img src="${fragment.imagePath}"/>
        
            <p>${fragment.text @ context='html'}</p>
        </a>
	</div> -->  

</div>