<div data-sly-use.fragment="uk.ac.nhm.core.componentHelpers.ContentModelUsePojo" class="cq-dd-fragment" data-emptytext="Content Fragment">

    <div data-sly-test="${!fragment.isConfigured}">
        <div class="row">
            <h4>Text image fragment</h4>
            Required fields:
            <ul>
                <li>Content fragment reference</li>
            </ul>
        </div>
    </div>

    <div data-sly-test="${fragment.isConfigured}">
        <a href="${fragment.link}">
            <img src="${fragment.imagePath}"/>
        
            <p>${fragment.text @ context='html'}</p>
        </a>
    </div>

</div>