.coral-Dialog-wrapper {
	width:45%;
}

.cq-dialog-floating .cq-dialog-content {
	width:100%;
}

.granite-pickerdialog coral-dialog-content {
	width:60vw;
}

.coral-FixedColumn-column {
	width:85%;
}

@media screen and (min-width: 1280px) {
	.cq-dialog-content-page .coral-TabPanel-navigation {
		position: fixed !important;
	}

	.coral-TabPanel-navigation {
		position: absolute !important;
		width: 95%;
		background-color: white;
		border-bottom: 1px solid rgb(208, 208, 208);
	}

	.coral-TabPanel-pane {
		margin-top: 50px !important;
	}

	.coral-ButtonGroup.rte-toolbar {
		visibility: visible !important;
	}

	.coral-ButtonGroup-item.coral-Button {
		padding-left: 0rem;
		padding-right: 0rem;
		min-width: 2.8rem;
	}
}