/*.main-section {
	font-size:12px;
}*/

.our-science .feature-box a {
	color: #357900;
}

.our-science h2, .our-science h3 {
	color: #565656 !important;
	padding-bottom: 0px;
} 

.profile-info {
	padding: 2.0em;
}

.profile-box {
	background-color: #EEEEEE !important;
}

.profile-box a, .profile-box a:hover, .profile-box a:visited {
	color:#357900 !important;
}

.feature-box {
	padding: 30px 0px 0px 20px;
}
.our-science .science-profile .profile-box {
	padding:0px;
}

.our-science .profile-img {
	padding: 40px;
	/*float: left;*/
}

.our-science .feature-box.our-science {
	background-color: #eee;
}

.aside-box {
	padding-left: 20px;
	padding-top: 10px;
}

.aside-box a{
	text-decoration: none;
}

.aside-box a:hover { 
    color: #000;
}

.aside-box h2{
	font-size:2em;
}

.highlight-publications {
	background-color:#EEEEEE;
}

.highlight-publications h3, .additional-links h3 {
	color:#000000 !important;
}

.additional-links {
	background-color:#EFEFEF;
	margin-top:20px;
}

.our-science .feature-box p {
	color: #000000;
}
.our-science .aside-box a {
	color: #357900;
}

.our-science .aside-box a:hover {
	color: #357900;
	text-decoration: underline;
}


.personal-group {
	background-color: #EEEEEE;
}

/*@media screen and (min-width: 1024px) {
	.row, .full-width {
		margin-bottom: 40px;
	}
}*/

.our-science .accordion .accordion-navigation>a, .our-science .accordion dd>a {
	background-image: url("/etc/designs/nhmwww/img/png-icons/plus-our-science.png");
}

.our-science .accordion .accordion-navigation.active>a:hover, .our-science .accordion dd.active>a:hover {
	background-image: url("/etc/designs/nhmwww/img/png-icons/minus-discover.png");
}
