<div class="social-share-container">
	<div class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.nhm.ac.uk${currentPage.path}" target="_blank"><img src="/etc/designs/nhmwww/img/png-icons/icon_l_media_facebook.png" alt="Share on Facebook"></a></div>
	<div class="twitter"><a href="https://twitter.com/home?status=Look%20at%20this%20lovely%20webpage%0Ahttp://www.nhm.ac.uk${currentPage.path}" target="_blank"><img src="/etc/designs/nhmwww/img/png-icons/icon_l_media_twitter.png" alt="Share on Twitter"></a></div>
	<div class="email"><a href="mailto:?subject=${currentPage.title}&body=http%3A//www.nhm.ac.uk${currentPage.path}"><img src="/etc/designs/nhmwww/img/png-icons/icon_l_media_email.png" alt="Share by Email"></a></div>
</div>