<div data-sly-use.helper="uk.ac.nhm.nhm_www.core.componentHelpers.SocialShareHelper">
	<div class="social-share--container">
		<div class="social-share--title">
			<h3>Share this page</h3>
		</div>
		<div class="social-share--icons">
			<div class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.nhm.ac.uk${helper.socialLink}" target="_blank"><img src="/etc/designs/nhmwww/img/png-icons/facebook_icon.png" alt="Share on Facebook"></a></div>
			<div class="twitter"><a href="https://twitter.com/home?status=${currentPage.title}%0Ahttp://www.nhm.ac.uk${helper.socialLink}" target="_blank"><img src="/etc/designs/nhmwww/img/png-icons/twitter_icon.png" alt="Share on Twitter"></a></div>
			<div class="email"><a href="mailto:?subject=${currentPage.title}&body=http%3A//www.nhm.ac.uk${helper.socialLink}"><img src="/etc/designs/nhmwww/img/png-icons/email_icon.png" alt="Share by email"></a></div>
		</div>
	</div>
</div>