<div data-sly-use.helper="uk.ac.nhm.nhm_www.core.componentHelpers.SocialShareHelper">
	<div class="social-share-container">
		<div class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.nhm.ac.uk${helper.socialLink}" target="_blank"><img src="/etc/designs/nhmwww/img/png-icons/icon_l_media_facebook.png" alt="Share on Facebook"></a></div>
		<div class="twitter"><a href="https://twitter.com/home?status=Check%20out%20this%20article%20from%20the%20Natural%20History%20Museum!%0Ahttp://www.nhm.ac.uk${helper.socialLink}" target="_blank"><img src="/etc/designs/nhmwww/img/png-icons/icon_l_media_twitter.png" alt="Share on Twitter"></a></div>
		<div class="email"><a href="mailto:?subject=${currentPage.title}&body=http%3A//www.nhm.ac.uk${helper.socialLink}"><img src="/etc/designs/nhmwww/img/png-icons/icon_l_media_email.png" alt="Share by Email"></a></div>
	</div>
</div>