.commercial-training-payment-form--page {
	.title-bar {
		margin-bottom: 1.2em;
	}

	.rowfullwidth {
		margin-bottom: 1.2em;
	}

	a {
		text-decoration: none;
		border-bottom: 1px dotted $color--black;
		color: $color--black;

		&:hover {
			border-bottom-style: solid;
			border-bottom-color: color-palette(grey-color, dark);
			color: color-palette(grey-color, dark);
		}
	}

	hr {
		border-color: color-palette(grey-color, dark);
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.price-summary {
		padding: 15px 0 18px 20px;
		font-size: 1.3em;

		@media screen and (min-width: $breakpoint--tablet__portrait) {
			padding-left:30px;
			font-size: 1.5em;
		}

		margin-bottom: 1em;
		background-color: color-palette(contact-us, base);
		font-family: font-name(elysio, light);
		color: $color--white;
	}

	.details-summary {
		color: #222222;
	}

	dt {
		font-family: font-name(elysio, regular);
		margin-top: 0.75em;
		margin-bottom: 0;
	}

	dd {
		margin-bottom: 0;
	}
}

.confirmation-page-container {
	margin-bottom: 1.2em;

	&.panel-content {
		padding-top: 0;
		padding-left: 0.3em;

		@media screen and (min-width: $breakpoint--phone-small__landscape) {
			padding-left: 0;
		}

		@media screen and (min-width: $breakpoint--tablet__portrait) {
			padding-left: 0.3em;
		}

		@media screen and (min-width: $breakpoint--desktop) {
			padding-left: 1.5em;
		}
	}
}

.form-hint {
	font-size: 1em;
	font-family: font-name(arial);
	margin-bottom: 1.2em;
	font-style: italic;
}