<sly data-sly-use.bigsplash="uk.ac.nhm.core.model.slingModels.BigSplash">
	<sly data-sly-test="${!bigsplash.isConfigured}">
		<div class="row">
			<h4>Big splash</h4>
			Required fields:
			<ul>
				<li>YouTube video ID</li>
				<li>Image path</li>
				<li>Title</li>
			</ul>
		</div>
	</sly>

	<sly data-sly-test="${bigsplash.isConfigured}">
		<div class="bigsplash-video js--bigsplash-video" data-nhm-videoid="${bigsplash.videoId}">
			<div id="${bigsplash.videoId}" class="youtubeplayer"></div>
		</div>
		
		<div class="bigsplash-image" style="background-image: url(${bigsplash.imagePath @ context='html'});"></div>
		
		<div class="bigsplash-text">
			<div class="row cf">
				<div class="bigsplash-text--title-container">
					<a href="${bigsplash.ctaUrl}" data-sly-unwrap="${!bigsplash.applyLinkToTitle}">
						<h1 class="bigsplash-text--title">${bigsplash.title}</h1>
					</a>
				</div>
				
				<div class="bigsplash-text--subtitle-container" data-sly-test="${bigsplash.subtitle}">
					<a href="${bigsplash.ctaUrl}" data-sly-unwrap="${!bigsplash.applyLinkToTitle}">
						<p class="bigsplash-text--subtitle">${bigsplash.subtitle}</p>
					</a>
				</div>
		
				<div class="bigsplash-text--cta-container" data-sly-test="${bigsplash.ctaUrl && bigsplash.ctaText}">
					<a href="${bigsplash.ctaUrl}" class="bigsplash-text--cta">${bigsplash.ctaText}</a>
				</div>
		
				<div class="bigsplash-video--controls">
					<i class="ico svg-ico bigsplash-video--controls-pause js--bigsplash-video--controls-pause" data-svg-src="/etc/designs/nhmwww/img/svg-icons/icon_l_bigsplash_pause.svg" data-svg-title="icon__bigsplash-pause" data-alt="Pause" data-base-color="#FFFFFF" data-stroke-width="0" data-fallback=""></i>
					<i class="ico svg-ico bigsplash-video--controls-play js--bigsplash-video--controls-play" data-svg-src="/etc/designs/nhmwww/img/svg-icons/icon_l_bigsplash_play.svg" data-svg-title="icon__bigsplash-play" data-alt="Play" data-base-color="#FFFFFF" data-stroke-width="0" data-fallback=""></i>
				</div>
			</div>
		</div>
	</sly>
</sly>