.discover-image-caption-icon {
	i.svg-ico {
		height: 40px;
		width: 40px;
	}
}

.discover-image-caption {
	.close-icon {
		position: absolute;
		top: 0;
		right: 0;
		float: none;
		width: 30px;
	}
}