.event--calendar--wrapper {
    display: table;
    background-color: #565656;
    padding: 1.5em 1.5em 1em 1.5em;
    color: #FFFFFF;
}
.event--calendar--wrapper .calendar--search--label {
    font-family: "Elysio-Light", Helvetica, Arial, sans-serif;
    margin-bottom: 0.6em;
    font-size: 1.375em;
}

.event--calendar--wrapper .search-keywords input {
    height: 4.5em;
    border: none;
}

.event--calendar--wrapper .search-icon {
    background-color: #EEEEEE;
    height: 5.65em;
    text-align: center;
    padding-top: 1.7em;
    cursor: pointer;
}

.event--calendar--wrapper .search-keywords input,
.event--calendar--wrapper .calendar--select select,
.event--calendar--wrapper .dates--label,
.event--calendar--wrapper .date--button,
.event--calendar--wrapper .date--wrapper input {
    font-family: "Elysio-Regular", Helvetica, Arial, sans-serif;
    font-size: 1.25em;
}

.event--calendar--wrapper .reset--filter {
    font-family: Arial;
    font-size: 1em;
    text-decoration: underline;
    margin-bottom: 0.6em;
    color: #B6B6B6;
    cursor: pointer;
}

.event--calendar--wrapper .date--picker {
    margin: 0 0 1rem 0;
}

.event--calendar--wrapper .date--wrapper {
    background: #FFFFFF;
    color: #565656;
}

.event--calendar--wrapper .date--wrapper input, 
.event--calendar--wrapper .date--wrapper input[type="text"][readonly] {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    height: 1.125em;
    margin-top: -0.5em;
    background: none;
    padding-left: 0.3em;
}

.event--calendar--wrapper .date--wrapper input:focus {
   background: none; 
}

.event--calendar--wrapper .date--wrapper img {
    margin-top: -1.2em;
    display: table-cell;
}

.event--calendar--wrapper .dates--label {
    font-size: 1em;
    padding-left: 0.3em;
}

.event--calendar--wrapper .date--button {
    cursor: pointer;
    position: relative;
    padding: 0;
    background: none;
    border: 1px solid #FFFFFF;
    font-size: 1.125em;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.event--calendar--wrapper .date--button:hover,
.event--calendar--wrapper .date--button--selected {
    background: #FFFFFF;
    color: #565656;
}

.event--calendar--wrapper .date--button input {
    padding: 0;
    background: none;
    border: none;
    line-height: 1.9em;
}

/*
 * DATEPICKER STYLING 
 */

.ui-datepicker {
    height: auto;
    margin: 5px auto 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker:after, 
.ui-datepicker:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ui-datepicker:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFFFFF;
    border-width: 19px;
    margin-left: -19px;
}

.ui-datepicker:before {
    border-bottom-color: rgba(0, 0, 0, .5);
    border-width: 20px;
    margin-left: -20px;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker .ui-datepicker-title {
    font-family: "Elysio-Light", Helvetica, Arial, sans-serif;
    color: #565656;
    font-size: 1.25em;
    font-weight: normal;
    text-align: center;
}

.ui-widget-header {
    background: #FFFFFF;
    border: none;
}

.ui-icon-circle-triangle-w {
    background-position: -96px 0;
}

.ui-icon-circle-triangle-e {
    background-position: -32px 0px;
}

.ui-datepicker th {
    font-family: Arial, sans-serif;
    color: #565656;
    font-size: 0.9em;
}

.ui-datepicker td span, 
.ui-datepicker td a {
    border-color: #000000;
    margin: 0 auto;
    width: 2em;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    text-align: center;
    font-family: "Elysio-Thin", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #000000;
}

.ui-datepicker-calendar .ui-state-default {
    background: #FFFFFF;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000000;
    padding-top: 0.3em;
}

.ui-state-disabled, 
.ui-widget-content .ui-state-disabled, 
.ui-widget-header .ui-state-disabled {
    opacity: 1;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #D5D5D5;
    color: #000000;
    padding-top: 0.3em;
}

.ui-datepicker-calendar .ui-state-active, 
.ui-datepicker-calendar .ui-state-hover {
    background: #565656;
    color: #FFFFFF;
    padding-top: 0.3em;
}