
.profiles_row {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

/*Form*/
.search_content{width:100% !important;}
.search_content p { margin-bottom: 5px;}

input#search {
	width: 15em;
	color: #357900;
	border: 2px solid #357900;
	text-align: left;
	padding: 5px 0px 5px 20px;
	background-color: #f4f4f4 !important;
	margin-top: 2.8em;
}
input#search:hover {
	text-decoration: underline;
}

.arrow {
	background-image: url("/etc/designs/nhmwww/img/arrows/nav-arrow-green.png");
	background-position: 95% center;
	background-repeat: no-repeat;
	background-size: auto;
}

select{ 
	border:solid 2px #000;
	width:100%;
	color: #222 !important;
	height: 27px;
}

input[type="text"],[type="button"] {
	color:##357900; 
	font-size: 1.125em;
	border:solid 2px #000;
	font-size: 1.125em;
	width:100%;
}

/*Profiles*/
.odd{background-color:#eeeeee !important; }
.even{background-color:#ffffff !important; }
.profiles_row img { padding:10px !important;}
.profile-content {padding: 10px !important;}
.profiles_table {
	color: #222 !important;
	font-style: normal !important;
	min-height: 2em !important;
}

div#peopleList {margin-bottom: 10px !important;}

.profile-box {background-color: $grey-color;}
.search-depts-divs {
	margin-top: 20px;
}

@media only screen and (max-width: 48em) {
	.show-for-small-only {
		display: block !important;
	}
	
	.hide-for-small-only {
		display: none !important;
	}
}

@media only screen and (min-width: 48em) {
	.show-for-small-only {
		display: none !important;
	}
	
	.hide-for-small-only {
		display: display !important;
	}
	.search-depts-divs {
		margin-top: 0px;
	}
}
