.pressreleaselistfeed {
	h3 {
		padding-bottom: 10px;
		padding-left: $padding-TB / 2;
	}
}

.pressreleasetilefeed {
	h3 {
		padding-bottom: 10px;
		padding-left: $padding-TB / 2;
	}
}

.feed--item--content-wrapper {
	margin-bottom: 1.8em;
	background-color: color-palette(grey-color, light);
}

.feed--item--content {
	padding: ($padding-TB / 2) 1.25em;
}

.feed--item--title {
	font-family: font-name(arial);
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 0;

	a {
		color: $color--black;
		font-weight: bold;

		&:hover {
			color: $color--black;
		}
	}
}

.feed--item--tagline {
	font-size: 0.875em;
}

.feed--item--caption {
	background-color: color-palette(grey-color, base);
	padding: ($padding-TB / 2) 1.25em;
	color: $color--white;
	font-size: 0.95em;

	@media screen and (min-width: $breakpoint--tablet__portrait) {
		font-size: 1em;
	}
}

.feed--tiles {
	.feed--item--content-wrapper {
		margin-bottom: 0;
	}
}

.feed--list {
	.feed--item--content-wrapper {
		padding: 0;

		@media screen and (min-width: $breakpoint--tablet__portrait) {
			padding: 1.25em;
		}
	}

	.feed--item--content {
		@media screen and (min-width: $breakpoint--tablet__portrait) {
			padding-top: 0;
			padding-right: 0;
		}
	}

	.feed--item--title {
		margin-top: 0.5em;

		@media screen and (min-width: $breakpoint--tablet__portrait) {
			margin-top: 0;
		}
	}
}
