.imagepage {

	a {
		font-family: font-name(elysio, thin);
	}
	a:hover {
		text-decoration: underline;
	}

	&--caption {
		font-family: font-name(elysio, regular);
	}

	&--info {
		font-family: font-name(elysio, light);
		margin-top: $padding-TB / 2;
		font-size: 1.5rem;

		@media screen and (min-width: $breakpoint--phone-small__landscape) {
			margin-bottom: 1em;
		}

		@media screen and (min-width: $breakpoint--desktop) {
			margin-bottom: 0.5em;
		}
	}

	&--intro {
		font-family: font-name(elysio, light);
		font-size: 1.3rem;
		margin-bottom: 1em;

		@media screen and (min-width: $breakpoint--desktop) {
			margin-bottom: 5em;
		}
	}

	&--img {
		width: 100%;

		@media screen and (min-width: $breakpoint--phone-wide__landscape + 1) {
			width: auto;
		}
	}

	&--metadata {
		margin-bottom: 0;
		padding-bottom: 9px;
	}

	&--social-share-header {

		.social-share--container {
			align-items: flex-end;
			justify-content: end;
			height: auto;
			min-height: auto;
			padding-left: 350px;
		}

			@media screen and (min-width: $breakpoint--phone-wide__landscape + 1) {
				align-items: flex-end;
			}
	}

	&--tags {

	&-footer {
		display: inline;
		li {
			background-color: color-palette(grey-color, light);
			float: left;
			margin: 0 8px 20px 0;
			padding: 3px 10px;
			border-radius: 10px;
			font-weight: bold;

			&:last-child {
				margin-bottom: 0;

				@media screen and (min-width: $breakpoint--tablet__portrait) {
					margin-bottom: 20px;
			}
		}
	}

		a {
			font-family: font-name(arial);
		}
	}
}

	&--title {
		font-size: 1.5em;
		font-family: font-name(elysio, thin);
		padding: 0;
		margin-top: $padding-TB / 2;
		margin-bottom: $padding-TB / 2;

		@media screen and (min-width: $breakpoint--desktop) {
			font-size: 1.865em;
		}
	}
}