
.event--information--wrapper {
    color: #FFFFFF;
}

.school {
    background-color: #0983BB;
}
.visit {
    background-color: #A1164E;
}
.science {
    background-color: #357900;
}

.event--information--wrapper h3{
    color: #FFFFFF;  
}
