.event--information--wrapper {
    padding: 1em 1.5em;
    min-height: 435px;
}

.event--information--wrapper,
.event--information--wrapper h3 {
    color: #FFFFFF;
}

.event--information--wrapper img { 
    margin: 0 auto;
    display: inherit;
}

.event--information--wrapper p { 
    margin-bottom: 0;
}

.event--information--wrapper .new--section { 
    margin-top: 1.0em;
}

