
.event--detail--page .title-bar h1 {
    padding: 0;
    color: #ffffff !important; 
}

.event--detail--page .school {
    background-color: #0983BB;
    padding: 1em 1.5em;
}
.event--detail--page .tring,
.event--detail--page .visitor {
    background-color: #A1164E;
    padding: 1em 1.5em;
}
.event--detail--page .science {
    background-color: #357900;
    padding: 1em 1.5em;
}