
<!-- <div id = "farticle"> -->
<sly data-sly-test="${!properties.articlepath || !properties.imagepath}">
	<div class="row">
	<h4>Featured article</h4>
	Required fields:
	<ul>
		<li>Article path</li>
		<li>Image path</li>
	</ul>
	</div>
</sly>

<sly data-sly-test="${properties.articlepath && properties.imagepath}">
	<sly data-sly-use.articlefeed="uk.ac.nhm.core.model.slingModels.FeaturedArticle">
	<a href="${properties.articlepath}">
		<div class="featuredarticle--container">
			<img class="featuredarticle--image" src="${properties.imagepath}" alt="header image">
			<div class="row">
				<div class="featuredarticle--text-container">
					<p class="featuredarticle--tag" data-sly-test="${articlefeed.tagName}">${articlefeed.tagName}</p>
					<p class="featuredarticle--title">${articlefeed.title}</p>
					<p class="featuredarticle--date">${articlefeed.date}</p>
					<p class="featuredarticle--description">${articlefeed.description}</p>
				</div>
			</div>
		</div>
	<p>${properties.imagecaption @ context='html'}</p>
	</a>
	</sly>
</sly>
<!-- </div> -->