.main-section-color {
	background-color: #d3d3d3;
}

.discover-header {
	/*background-color: #767676;*/
	margin-bottom: 20px !important;
	margin-top: 0.4em;
}

.discoverlist{
	background-color: #EEEEEE;	
}

/*alext2: removing as this is messing with the other body text.
@media screen and (min-width: 1024px) {
	p {
		font-size: 1.0em;
	}
}*/

.discover-color {
	color: #fff !important;
}

.discover h1 {
	color: #565656 !important;
}

.discover-title {
	margin: 0.2rem 2.5%;
}

.discover-text {
	margin: 0 2.5% 1rem;
}

.main-row {
	margin-bottom: 0;
	margin-top: 0;
}

.discover-element {
	padding: 0 5px;
	margin-bottom: 1em;
}

.discover-element .discover-element-wrapper {
	background-color: #fff;
	border-bottom: 1px solid #D5D5D5;
}

p.discover-element-tag {
	font-size: 1rem;
	margin-bottom: 0;
	line-height: 1.4;
}

@media screen and (min-width: 1160px) {
	p.discover-element-tag {
		font-size: 1.125em;
	}
}

@media screen and (min-width: 768px) {
	p.discover-element-tag {
		font-size: 1.0em;
	}
}
/* prep for adding an icon on the video features.
.video-icon {
	background-image: url("/etc/designs/nhmwww/img/icons/video-white.png");
	background-repeat: no-repeat;
}*/

.image-footer {
	border-bottom: 1px solid #888888;
	padding:0.2em 0;
}

.discover-element-tag {
	color: #565656;
	margin-left: 0.9em !important;
	text-transform: uppercase;
}

.discover-element-date {
	color: #888888;
	margin-left: -2.9em;
	margin-right: 0.9em !important;
}

.discover-element-text {
	margin: 0.9em 0.9em 0em 0.9em;
}

.discover .discoverlist .discover-element .element-title {
	font-weight: bold;
}

.row .row {
	margin: 0 auto;
}

.more-results {
	text-align: center;
	margin-bottom: 0px !important;
}

.more-results-text {
	color: #565656;
	cursor: pointer;
	width: -moz-max-content;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.more-results-text:hoover {
	color: #888888;
}

/* Foundation CSS */
.small-block-grid-4>li {
	width: 25%;
	list-style: none
}

.small-block-grid-4>li:nth-of-type(1n) {
	clear: none
}

.small-block-grid-4>li:nth-of-type(4n+1) {
	clear: both
}

[class*="block-grid-"] {
	display: block;
	padding: 0;
	margin: 0 0
}

[class*="block-grid-"]:before,[class*="block-grid-"]:after {
	content: " ";
	display: table
}

[class*="block-grid-"]:after {
	clear: both
}

[class*="block-grid-"]>li {
	display: block;
	height: auto;
	float: left;
}

.wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #aaa;
	overflow: auto;
}

.scroller {
	position: absolute;
	z-index: 1;
	/* -webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	padding: 0;
}

.scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

.scroller li {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}