
<meta data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" />

<!--<div style="height:5vh;background-color:#fff">test</div>
    <iframe src="http://staging.nhm.ac.uk/resources-www/whale-interactive/index.html" frameborder="0" style="overflow:hidden;width:100%;height:90vh">

    </iframe>
	<div style="height:5vh;background-color:#fff">test</div>
-->

<sly data-sly-test="${properties.useiframe}"> 
	<iframe	src="${properties.iframesource}" frameborder="0" class="immersive-iframe"> 
	</iframe> 
</sly>

<sly data-sly-test="${!properties.useiframe}"> 
	<div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}"></div>
</sly>