<div data-sly-test="${!properties.question}">
	<div class="row">
		<h4>Q & A</h4>
		Required fields:
		<ul>
			<li>Question</li>
			<li>Answer</li>
		</ul>
	</div>
</div>

<div class="qasingle--container row">
	<div class="qasingle--question-title-container">
		<h3 class="qasingle--question-title">Quick question</h3>
	</div>
	<div class="qasingle--question-content">
		<div class="qasingle--question-container" data-sly-test="${properties.question}">
			<h4 class="qasingle--question">${properties.question}</h4>
		</div>
		<div class="qasingle--answer-container" data-sly-test="${properties.answer}">
			<p class="qasingle--answer">${properties.answer}</p>
		</div>
	</div>

	<div class="qasingle--next-question-container clearfix" data-sly-use.qa="uk.ac.nhm.core.model.slingModels.QA" data-sly-test="${qa.nextQuestion}">
		<a href="${qa.nextQuestion['link']}">
			<p class="qasingle--next-question left">Next question: ${qa.nextQuestion['question']}</p>
			<img class="qasingle--next-question-arrow right" src="/etc/designs/nhmwww/img/arrows/mobile-return-arrow.png" alt="Next question">
		</a>
	</div>

</div>