<div class="row" data-sly-test="${!properties.question}">
	<h4>Q & A</h4>
	Required fields:
	<ul>
		<li>Question</li>
		<li>Answer</li>
		<li>Position of question</li>
		<li>Tag</li>
	</ul>
</div>

<div class="qasingle--container row" data-sly-test="${properties.question}">
	<div class="qasingle--question-title-container">
		<h3 class="qasingle--question-title">Quick question</h3>
	</div>
	<div class="qasingle--question-content">
		<div class="qasingle--question-container" data-sly-test="${properties.question}">
			<h4 class="qasingle--question">${properties.question @ context ='html'}</h4>
		</div>
		<div class="qasingle--answer-container" data-sly-test="${properties.answer}">
			<p class="qasingle--answer">${properties.answer @ context ='html'}</p>
		</div>
	</div>
	
	<div class="qasingle--image" data-sly-test="${properties.fileReference}">
		<img src="${properties.fileReference}">
	</div>

	<div data-sly-use.qa="uk.ac.nhm.core.model.slingModels.QA" data-sly-test="${qa.nextQuestion}">
		<a href="${qa.nextQuestion['link']}">
			<div class="qasingle--next-question-container clearfix" >
				<p class="qasingle--next-question left">Next question: ${qa.nextQuestion['question'] @ context ='html'}</p>
				<i class="ico svg-ico right" data-svg-src="/etc/designs/nhmwww/img/svg-icons/icon_l_general_direction_r.svg"  data-svg-title="icon__next_question" data-alt="Next question" data-stroke-width="10"></i>
			</div>
		</a>
	</div>
</div>