<div data-sly-test="${properties.title}">
	<h2>${properties.title}</h2>
</div>

<div class="row">
	<div data-sly-test="${!properties.rootpath || !properties.rowsize}">
		Please configure the component correctly. <br>Required values:
		<ul>
			<li>Path</li>
			<li>Row size</li>
		</ul>
	</div>
	<div data-sly-test="${properties.rootpath && properties.rowsize}">
		<div data-sly-use.articlefeed="uk.ac.nhm.nhm_www.core.model.slingModels.ArticleFeed">
			<div data-sly-test="${!articlefeed.pageList}">
				This query returns no results
			</div>
			<div data-sly-test="${articlefeed.pageList}">
				<div data-sly-list.list="${articlefeed.pageList}">
					<div data-sly-test="${list.size > 0}">
						<div class="articlefeed--item large-${articlefeed.columns} medium-6 small-12 columns end">
							<div class="articlefeed--item__image">
								<img src="${list['imagePath']}">
							</div>
							<div class="articlefeed--item__text">
								<p class="articlefeed--item__hubtag" data-sly-test="${list['hubtag']}">${list['hubtag']}</p>
								<p class="articlefeed--item__title"><a href="${list['path']}.html">${list['title']}</a></p>
								<p class="articlefeed--item__date">${list['datepublished']}</p>
								<p class="articlefeed--item__excerpt">${list['excerpt']}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-sly-test="${properties.showreadmore && properties.readmorelink}">
	<a href="${properties.readmorelink}.html">Read more</a>
</div>