.pr-0 {
	padding-right: 0;
}

.pr-10 {
	padding-right: 0.65em;
}

.pr-11 {
	padding-right: 0.7em;
}

.pl-11 {
	padding-left: 0.7em;
}

.pl-12 {
	padding-left: 0.8em;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-6 {
	margin-bottom: 0.4em;
}

.mb-20 {
	margin-bottom: 1.2em;
}

.mt-16 {
	margin-top: 1em;
}

.mt-20 {
	margin-top: 1.2em;
}

.mt-24 {
	margin-top: 1.5em;
}

.mt-32 {
	margin-top: 2em;
}
