.primo-search-container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #9ca2a9;
	background-image:
		url(/etc/designs/nhmwww/img/archivessearch/form-image3.jpg);
	background-repeat: no-repeat;
	width: 940px;
	height: 261px;
	display: block;
	margin-bottom: 20px;
	position: relative;
}

.primo-search {
	margin: 40px 0 0 190px;
	padding: 24px 10px 10px 16px;
	width: 560px;
	position: relative;
	background-image: url(/etc/designs/nhmwww/img/archivessearch/bg1.png);
	background-repeat: no-repeat;
}

#column-c {
	float: none !important;
	width: 940px !important;
}

.primo-search .advanced {
	padding: 5px 0 0 0;
}

.primo-search a {
	padding: 0px 0 0 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #50c3c7;
	text-decoration: underline;
}

.primo-search .advanced a:hover {
	padding: 0 0 0 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #c2fdff;
	text-decoration: underline;
}

#PrimoSearchForm {
	margin: 0 auto;
}

.primo-search-panel {
	clear: both;
}

.primo-search-title {
	width: 940px;
	height: 35px;
	position: relative;
	background-image: url(/etc/designs/nhmwww/img/archivessearch/bg2-70.png);
	background-repeat: repeat;
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
	font-size: 1.6em;
	font-family: Arial, Sans-Serif;
	color: #ffffff;
}

.primo-search-title p {
	margin-top: 3px;
}

.primo-search-style {
	width: 82%;
	font-size: 12px;
	color: #000000; /* #9ca2a9 */
	border: solid 1px #fff;
	padding: 5px;
	background: #fff;
}

/* input box placeholder text */
::-webkit-input-placeholder { /* WebKit browsers */
	color: #707478;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #707478;
	opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #707478;
	opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #707478;
}

#primo-search-bar {
	width: 560px;
	height: 100px;
	font-size: 12px;
	color: #9ca2a9;
	padding: 5px 5px 5px 5px;

	/* border: solid 1px #ccc; */
	/* background:#fff; */
}

ul.primo-search-options, ul.primo-search-options li {
	padding: 0;
	border: 0px;
	margin: 0;
	list-style: none;
}

ul.primo-search-options {
	margin: 0 0 0 7px; /* was 9px */
	height: 12px;
	/* background: url('images/search.png') no-repeat 8px 6px; */
	clear: both;
}

#primo-search-bar {
	margin: 0 0 0 2px;
	clear: both;
}

ul.primo-search-options li a {
	margin-bottom: -5px; /* was -7px */
	float: left;
	margin-right: 2px;
	position: relative;
	width: auto;
	background: #323232;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 5px;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	-webkit-user-drag: none;
	user-drag: none;
}

.primo-search .selected a {
	background: #323232;
	color: #FFFFFF;
}

ul.primo-search-options li.selected a {
	background: #fff;
	color: #323232;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

#
.search input[type=text] {
	color: #000;
}

.primo-search input[type=button], input[type=button]:hover {
	position: relative;
	left: 0px;
	padding: 5px;
	border: 1px solid #fff;
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #000 0%, #000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000),
		color-stop(100%, #000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000 0%, #000 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000 0%, #000 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000 0%, #000 100%); /* IE10+ */
	background: linear-gradient(top, #000 0%, #000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000',
		endColorstr='#000', GradientType=0); /* IE6-9 */
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.primo-search input[type=button]:hover {
	background: #323232;
	color: #FFFFFF;
}

/*** overriding styling of li gallery boxes ***/
.gallery li {
	width: 222px !important;
	height: 230px !important;
	margin: 0 17px 15px 0 !important;
}

.gallery li.last {
	margin-right: 0px !important;
}

.gallery li img {
	width: 100%;
}

.gallery li h3 {
	padding: 5px 5px 0;
	font-size: 16px;
	margin: 10px 0px;
	font-weight: bold;
}

.gallery li h3 a {
	text-decoration: none;
}