/* Flashlight Overlay */
#bigsplash-interactive.glow {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
  /* background: url(../../images/dark.jpg) no-repeat center center; */ }

#bigsplash-interactive.glow:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle 10vmax at var(--cursorX) var(--cursorY), rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 80%, black 100%); }

#bigsplash-interactive.hideOut:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle 10vmax at var(--cursorX) var(--cursorY), rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 0%, black 0%); }

#LD-container {
  width: 100%;
  height: 45vh;
  overflow: scroll; }
  
 #LD-container::-webkit-scrollbar
        {display:none;}
  

#bigsplash-interactive {
  background-size: cover;
  background-position: center center;
  /*background: url(../img/LitD.jpg) no-repeat center center;*/
  width: 100%;
  /* set to keep aspect ratio of scrollable image (i.e. 1920*1920 ) */ }

#bigsplash-interactive #mainImg {
  width: 100%;
  float: left; }

.bigsplash-text {
  font-size: 1vw;
  z-index: 10; }

.bigsplash-text h1 {
  font-size: 200%;
  margin: 0; }

#layer1 {
  width: 100%;
  height: 150%;
  top: 0;
  z-index: 2;
  pointer-events: none;
  /*background-color: red;
  opacity: 0.2;
  */
  position: relative; }

#layer2 {
  width: 100%;
  height: 150%;
  z-index: 2;
  pointer-events: none;
  /* background-color: yellow;
  opacity: 0.2;
  */
  position: relative; }

#layer3 {
  width: 100%;
  height: 150%;
  z-index: 2;
  pointer-events: none;
  /* background-color: green;
   opacity: 0.2;
   */
  position: relative; }

.animal {
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.7s ease-in-out, transform 1.4s ease-in-out; }

.animal:hover {
  transform: scale(1.2) translateX(-1vw); }

.animal img {
  opacity: 0;
  transition: opacity 0.7s ease-in-out, transform 1.4s ease-in-out;
  height: 100%;
  width: auto !important; }

.animal:hover img {
  opacity: 1; }

.animal:after, .animal:before {
  opacity: 0; }

.animal.glow:after, .animal.glow:before {
  opacity: 0;
  animation: animGlow 20s infinite; }

.animal:hover:after, .animal:hover:before {
  opacity: 0;
  /*animation-play-state: paused;*/
  animation: 0;
  transition: opacity 0.7s ease-in-out; }

@keyframes animGlow {
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  30% {
    opacity: 1; }
  31% {
    opacity: 0; }
  32% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; }
  52% {
    opacity: 1; }
  70% {
    opacity: 1; }
  80% {
    opacity: 0; } }

#fox {
  position: absolute;
  height: 20vh;
  top: 24vh;
  left: 60vw; }

#fox:before, #fox:after {
  content: '';
  position: absolute;
  background: #FF4500;
  background: radial-gradient(circle at top left, #ff7d4d, #FF4500);
  box-shadow: 0 0 25px 3px #ff581a;
  border: 1px solid #FF4500;
  border-radius: 50%;
  width: 0.4vw;
  height: 0.4vw;
  top: 35%;
  left: 26%;
  z-index: 100;
  animation-delay: 0s; }

#fox:after {
  left: 35%; }

#owl {
  position: absolute;
  height: 20vh;
  top: 5vh;
  left: 10vw; }

#owl:before, #owl:after {
  content: '';
  position: absolute;
  background: #84ffa4;
  background: radial-gradient(circle at top left, #d1ffdd, #84ffa4);
  box-shadow: 0 0 25px 3px #9effb7;
  border: 1px solid #84ffa4;
  border-radius: 50%;
  width: 0.3vw;
  height: 0.3vw;
  top: 57%;
  left: 48%;
  z-index: 100;
  animation-delay: 10s; }

#owl:after {
  left: 52%; }

#croc {
  position: absolute;
  height: 25%;
  top: 60%;
  left: 40%; }

#glow-worms {
  position: absolute;
  height: 15%;
  top: 47%;
  left: 4%; }

#angler {
  position: absolute;
  height: 20%;
  top: 60%;
  left: 30%; }

#jellyfish1 {
  position: absolute;
  height: 20%;
  top: 40%;
  left: 56%; }

#jellyfish2 {
  position: absolute;
  height: 25%;
  top: 70%;
  left: 80%; }

@media screen and (max-width: 1000px) {
  #bigsplash-interactive #mainImg {
    width: 250%; }
  .bigsplash-text {
    font-size: 3vw; }
  #layer1, #layer2, #layer3 {
    height: 100%; } }

/*
.herosection::-webkit-scrollbar {
  display: none; }
  */

.bigsplash-text {
    color: white;
    margin: 0px 0 0 3vw;
    position: absolute;
    bottom: 5%;
    width: auto;
    /* pointer-events: none; */  
    }

.bigsplash-text--title.glow {
  color: #B6FF00;
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate; }

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00; } }
