<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
	<meta data-sly-call="${clientLib.all @ categories='nhmwww.qahub'}" data-sly-unwrap></meta>
</sly>

<div data-sly-test="${!properties.rootpath}">
	<div class="row">
		<h4>Q & A hub</h4>
		Required fields:
		<ul>
			<li>..any required fields</li>
		</ul>
	</div>
</div>

<div data-sly-use.qahub="uk.ac.nhm.core.model.slingModels.QAHub">
	<div data-sly-test="${!qahub.questionList}">
		This query returns no results
	</div>
	<div data-sly-test="${qahub.questionList}">

		<div id="questions">
            Quick questions
    
            <ul data-sly-list.list="${qahub.questionList}">
                <li data-sly-test="${list.size > 0}">
                    <a href="#" id="question" rel="qa${listList.index}">${list['question']}</a>
                </li>
            </ul>
        </div>


        <div id="answers">
        	<sly data-sly-list.list="${qahub.questionList}" >
                <sly data-sly-test="${list.size > 0}">
                    <sly data-sly-test="${listList.index == 0}">
                        <div id="qa${listList.index}">
                            ${list['question']}
                            ${list['answer']}
                        </div>
                    </sly>
                    <sly data-sly-test="${listList.index > 0}">
                        <div style="display: none" id="qa${listList.index}">
                            ${list['question']}
                            ${list['answer']}
                        </div>
                    </sly>
                </sly>
            </sly>

            <a href="#">Prev question</a>
            <a href="#">Next question</a>
        </div>
	</div>
</div>