.wrap {
  pointer-events: none;
  height: 100%;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  perspective: 500px;
  visibility: hidden; }

.wrap.dark {
  visibility: visible; }

.c {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: 100px;
  margin-left: 50px;
  transform: translate3d(1vw, 10vh, 50px);
  border-radius: 50%; }

.c:nth-child(1) {
  animation: anim1 10s infinite alternate;
  animation-delay: -0.015s;
  background: #d4ff00;
  background: radial-gradient(circle at top left, #e1ff4d, #d4ff00);
  box-shadow: 0 0 25px 3px #d8ff1a;
  border: 1px solid #d4ff00; }

@keyframes anim1 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(4vw, 3vh, 0);
    opacity: 0; } }

.c:nth-child(2) {
  animation: anim2 10s infinite alternate;
  animation-delay: -0.03s;
  background: #d4ff00;
  background: radial-gradient(circle at top left, #e1ff4d, #d4ff00);
  box-shadow: 0 0 25px 3px #d8ff1a;
  border: 1px solid #d4ff00; }

@keyframes anim2 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(5vw, 5vh, 0);
    opacity: 0; } }

.c:nth-child(3) {
  animation: anim3 10s infinite alternate;
  animation-delay: -0.045s;
  background: #d3ff00;
  background: radial-gradient(circle at top left, #e0ff4d, #d3ff00);
  box-shadow: 0 0 25px 3px #d8ff1a;
  border: 1px solid #d3ff00; }

@keyframes anim3 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(5vw, 3vh, 0);
    opacity: 0; } }

.c:nth-child(4) {
  animation: anim4 10s infinite alternate;
  animation-delay: -0.06s;
  background: #d3ff00;
  background: radial-gradient(circle at top left, #e0ff4d, #d3ff00);
  box-shadow: 0 0 25px 3px #d7ff1a;
  border: 1px solid #d3ff00; }

@keyframes anim4 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(3vw, 3vh, 0);
    opacity: 0; } }

.c:nth-child(5) {
  animation: anim5 10s infinite alternate;
  animation-delay: -0.075s;
  background: #d2ff00;
  background: radial-gradient(circle at top left, #e0ff4d, #d2ff00);
  box-shadow: 0 0 25px 3px #d7ff1a;
  border: 1px solid #d2ff00; }

@keyframes anim5 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(5vw, 5vh, 0);
    opacity: 0; } }

.c:nth-child(6) {
  animation: anim6 10s infinite alternate;
  animation-delay: -0.09s;
  background: #d2ff00;
  background: radial-gradient(circle at top left, #dfff4d, #d2ff00);
  box-shadow: 0 0 25px 3px #d6ff1a;
  border: 1px solid #d2ff00; }

@keyframes anim6 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(4vw, 3vh, 0);
    opacity: 0; } }

.c:nth-child(7) {
  animation: anim7 10s infinite alternate;
  animation-delay: -0.105s;
  background: #d2ff00;
  background: radial-gradient(circle at top left, #dfff4d, #d2ff00);
  box-shadow: 0 0 25px 3px #d6ff1a;
  border: 1px solid #d2ff00; }

@keyframes anim7 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(1vw, 5vh, 0);
    opacity: 0; } }

.c:nth-child(8) {
  animation: anim8 10s infinite alternate;
  animation-delay: -0.12s;
  background: #d1ff00;
  background: radial-gradient(circle at top left, #dfff4d, #d1ff00);
  box-shadow: 0 0 25px 3px #d6ff1a;
  border: 1px solid #d1ff00; }

@keyframes anim8 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(5vw, 3vh, 0);
    opacity: 0; } }

.c:nth-child(9) {
  animation: anim9 10s infinite alternate;
  animation-delay: -0.135s;
  background: #d1ff00;
  background: radial-gradient(circle at top left, #dfff4d, #d1ff00);
  box-shadow: 0 0 25px 3px #d5ff1a;
  border: 1px solid #d1ff00; }

@keyframes anim9 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(4vw, 4vh, 0);
    opacity: 0; } }

.c:nth-child(10) {
  animation: anim10 10s infinite alternate;
  animation-delay: -0.15s;
  background: #d0ff00;
  background: radial-gradient(circle at top left, #deff4d, #d0ff00);
  box-shadow: 0 0 25px 3px #d5ff1a;
  border: 1px solid #d0ff00; }

@keyframes anim10 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(2vw, 1vh, 0);
    opacity: 0; } }

.c:nth-child(11) {
  animation: anim11 10s infinite alternate;
  animation-delay: -0.165s;
  background: #d0ff00;
  background: radial-gradient(circle at top left, #deff4d, #d0ff00);
  box-shadow: 0 0 25px 3px #d5ff1a;
  border: 1px solid #d0ff00; }

@keyframes anim11 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(2vw, 1vh, 0);
    opacity: 0; } }

.c:nth-child(12) {
  animation: anim12 10s infinite alternate;
  animation-delay: -0.18s;
  background: #cfff00;
  background: radial-gradient(circle at top left, #deff4d, #cfff00);
  box-shadow: 0 0 25px 3px #d4ff1a;
  border: 1px solid #cfff00; }

@keyframes anim12 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(4vw, 3vh, 0);
    opacity: 0; } }

.c:nth-child(13) {
  animation: anim13 10s infinite alternate;
  animation-delay: -0.195s;
  background: #cfff00;
  background: radial-gradient(circle at top left, #ddff4d, #cfff00);
  box-shadow: 0 0 25px 3px #d4ff1a;
  border: 1px solid #cfff00; }

@keyframes anim13 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(5vw, 1vh, 0);
    opacity: 0; } }

.c:nth-child(14) {
  animation: anim14 10s infinite alternate;
  animation-delay: -0.21s;
  background: #cfff00;
  background: radial-gradient(circle at top left, #ddff4d, #cfff00);
  box-shadow: 0 0 25px 3px #d3ff1a;
  border: 1px solid #cfff00; }

@keyframes anim14 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(4vw, 2vh, 0);
    opacity: 0; } }

.c:nth-child(15) {
  animation: anim15 10s infinite alternate;
  animation-delay: -0.225s;
  background: #ceff00;
  background: radial-gradient(circle at top left, #ddff4d, #ceff00);
  box-shadow: 0 0 25px 3px #d3ff1a;
  border: 1px solid #ceff00; }

@keyframes anim15 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(2vw, 1vh, 0);
    opacity: 0; } }

.c:nth-child(16) {
  animation: anim16 10s infinite alternate;
  animation-delay: -0.24s;
  background: #ceff00;
  background: radial-gradient(circle at top left, #dcff4d, #ceff00);
  box-shadow: 0 0 25px 3px #d3ff1a;
  border: 1px solid #ceff00; }

@keyframes anim16 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(3vw, 3vh, 0);
    opacity: 0; } }

.c:nth-child(17) {
  animation: anim17 10s infinite alternate;
  animation-delay: -0.255s;
  background: #cdff00;
  background: radial-gradient(circle at top left, #dcff4d, #cdff00);
  box-shadow: 0 0 25px 3px #d2ff1a;
  border: 1px solid #cdff00; }

@keyframes anim17 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(5vw, 1vh, 0);
    opacity: 0; } }

.c:nth-child(18) {
  animation: anim18 10s infinite alternate;
  animation-delay: -0.27s;
  background: #cdff00;
  background: radial-gradient(circle at top left, #dcff4d, #cdff00);
  box-shadow: 0 0 25px 3px #d2ff1a;
  border: 1px solid #cdff00; }

@keyframes anim18 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(4vw, 5vh, 0);
    opacity: 0; } }

.c:nth-child(19) {
  animation: anim19 10s infinite alternate;
  animation-delay: -0.285s;
  background: #ccff00;
  background: radial-gradient(circle at top left, #dcff4d, #ccff00);
  box-shadow: 0 0 25px 3px #d1ff1a;
  border: 1px solid #ccff00; }

@keyframes anim19 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(3vw, 4vh, 0);
    opacity: 0; } }

.c:nth-child(20) {
  animation: anim20 10s infinite alternate;
  animation-delay: -0.3s;
  background: #ccff00;
  background: radial-gradient(circle at top left, #dbff4d, #ccff00);
  box-shadow: 0 0 25px 3px #d1ff1a;
  border: 1px solid #ccff00; }

@keyframes anim20 {
  80% {
    opacity: 1; }
  100% {
    transform: translate3d(1vw, 1vh, 0);
    opacity: 0; } }
