

.ld-interactive-splash {
	width: 100%;
	height: 500px;
	min-height:200px;
	margin-bottom: 40px;
}

#bigsplash-interactive {
   background-image: url("/etc/clientlibs/nhmwww/singlepurpose/ld-interactive-splash/img/oceans.jpg");
    width:100%;
    height: 100%;
}


/* Flashlight Overlay */
#bigsplash-interactive.dark {
    cursor: none;
    --cursorX: 50vw;
    --cursorY: 50vh;
    background-image: url("/etc/clientlibs/nhmwww/singlepurpose/ld-interactive-splash/img/dark.jpg");
}
#bigsplash-interactive.dark:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(
            circle 10vmax at var(--cursorX) var(--cursorY),
            rgba(0,0,0,.3) 0%,
            rgba(0,0,0,.8) 80%,
            rgba(0,0,0,1) 100%
    )
}


#bigsplash-interactive.darkOut:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(
            circle 10vmax at var(--cursorX) var(--cursorY),
            rgba(0, 0, 0, .3) 0%,
            rgba(0, 0, 0, .8) 0%,
            rgba(0, 0, 0, 1) 0%
    )
}



.bigsplash-text {
    color: white;
    margin: -150px 0 0 50px;

}


.bigsplash-text--title {

    font-size: 2.5em;
  }

.bigsplash-text--title.dark {
    color: #B6FF00;
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
 }


@-webkit-keyframes neon4 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
}

