.calendar--page .carousel-wrapper h3 {
    font-size: 2.1em;
}

.visit .event--title,
.tring-homepage .event--title {
    color: #A1164E;
}

.our-science .event--title {
    color: #357900;
}

.schools .event--title {
    color: #0983BB;
}

.calendar--page .carousel-wrapper h3,
.events--header {
    padding-left: 0.8em;
}

.event--title {
    padding: 0 0.7em;
    margin-top: 1.5rem;
}

.event--info {
    margin-bottom: 0.4em;
}

.no--results,
.more--results {
    clear: both;
    text-align: center;
    background-color: #D8D8D8;
}

.more--results:hover {
    cursor: pointer;
}

.no--results h5,
.more--results h5 {
    padding-top: 0.4em;
    padding-bottom: 0;
    line-height: 1.2em;
}