@import '../../core/refactor/functions';
@import '../../core/legacy/variables';
@import '../../core/refactor/variables';
@import '../../core/refactor/maps';
@import '../../core/legacy/mixins';
@import '../../core/refactor/mixins';

.membership-credit-card-page {
	.membership-form-container {
		margin-bottom: 1.2em;
	}

	.paymentError {
    color: #ae3c39;
    margin-bottom: 1.2em;

		h3 {
			color: #ae3c39;
			font-family: font-name(arial);
			font-size: 1em;
		}
	}

	.price-summary {
		padding: 15px 20px 18px;
	}

	.button__membership {
		padding: 0.8em;
		margin-bottom: 0.7em;
		font-size: 1.8em;
		font-family: font-name(elysio, light);
	}

	.giftaid-promo {
		label {
			margin-bottom: 1.2em;
		}
	}

	hr {
		margin: 1em 0;
	}
}


.logo--secure-checkout {
	background-image: url(https://www.secpay.com/users/natura04/membership-checkout-icon.jpg);
	background-position: 0 -3px;
	background-repeat: no-repeat;
	height: 40px;
	padding-top: 0.6em;
	padding-left: 2.2em;

	@media screen and (min-width: $breakpoint--phone-wide__landscape) {
		margin-top: 0.3em;
	}
}

.logo--paypoint {
	margin-bottom: 1.2em;

	@media screen and (min-width: $breakpoint--phone-wide__landscape) {
		margin-top: 0.95em;
		margin-bottom: 0;
	}
}

.main-footer {
	padding: 1.5em;
	margin-bottom: 1em;
	font-size: 1em;
}
