<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
	<meta data-sly-call="${clientLib.all @ categories='nhmwww.image'}" data-sly-unwrap></meta>
</sly>

<sly data-sly-use.image="uk.ac.nhm.core.model.slingModels.NHMImage">
	 
	<sly data-sly-test="${!image.defaultImagePath}">
		<div class="row">
			<h4>Image</h4>
			Required fields:
			<ul>
				<li>Image</li>
			</ul>
		</div>
    </sly>

	<sly data-sly-test="${image.defaultImagePath}">
        <div class="${image.addMarginBottom ? 'mb-20' : ''}">
        
            <a data-sly-unwrap="${!image.imageLinkURL}" href="${image.imageLinkURL}" target="${image.newWindow}">
				<picture>
					<source data-srcset="${image.smallImagePath}" media="(max-width: 768px)" />
					<source data-srcset="${image.mediumImagePath}" media="(max-width: 768px) and (orientation: landscape)" />
					<source data-srcset="${image.mediumImagePath}" media="(min-width: 768px) and (max-width: 1160px)" />
					<source data-srcset="${image.largeImagePath}" media="(min-width: 1160px)" />
					<source data-srcset="${image.defaultImagePath}" />
					<img class="lazyload" data-src="${image.defaultImagePath}" alt="${image.alt}" />
				</picture>
            </a>
            
            <div data-sly-test="${image.caption}" class="caption-outer-wrapper">
                <div class="caption-inner-wrapper">
                    <div class="caption">${image.caption @ context='html'}</div>
                </div>
            </div>
            
        </div>
	</sly>
</sly>