#page-header {
  padding-bottom: 0 !important;
}

.nav-list.level-1 > .nav-list__item > a {
  font-size: 22px;
}

.nav-list__item p {
  margin-left: 0;
  margin-right: 0;
}

.nav-list__item a {
  font-size: 20px;
}

.dropdown-section p {
  font-size: 14.4px;
}

.mega-thumb-caption p {
  font-size: 24px;
}

.nav-list.level-2.share .nav-list__item h4 {
  font-size: 18px;
  color: #222;
}

.breadcrumb {
  font-size: 14px;
}

.main-footer .footer-nav li, .main-footer .footer-utility p {
  font-size: 17.6px;
}

body {
  color: #000;
}

div#page-container {
  width: 100% !important;
}

#page-body {
  width: 940px;
  margin: 0 auto;
  min-height: 600px;
  /* added to fix the sticky nav being buggy */
}

.sticky-logo a {
  top: -0.5em;
}

#page-header {
  background-image: none;
}

/* WR-1041: fix for search UI CSS issues affecting dynamic apps */
.megamenu--search-bar__heading {
  padding-bottom: 0;
  margin-bottom: 20px;
  background: none;
  color: #565656;
  font-family: "Elysio-Light",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 33px;
  line-height: 1.35em;
}

html > body #microsite-nav-backToSection {
  margin-left: 110px;
  margin-bottom: 10px;
}

#microsite-body h2 {
  padding-bottom: 0;
}

#microsite-body h6 {
  margin: 0;
}

#microsite-body a:hover {
  color: #015b28;
}

#microsite-body p {
  margin-left: 0;
}

#microsite-body input[type="submit"] {
  padding: 3px 5px;
}

#microsite-body .galleryTable_ms {
  border-collapse: initial;
  border-spacing: 1px;
}

#microsite-body .galleryTable_ms table {
  border-collapse: initial;
  border-spacing: 1px;
}

#microsite-nav-local-menu {
  margin-bottom: 0;
}

.searchTable_ms select {
  height: auto;
  padding: 0;
  background-color: #fff;
  margin-bottom: 0;
}

.searchTable_ms p {
  margin: 0 !important;
  padding: 0 !important;
}

#dbNavButtons_down, #dbNavButtons_up {
  margin: 3px 2px 3px 1px;
}

#dbNavButtons_down td, #dbNavButtons_up td {
  vertical-align: top;
  padding-right: 2px;
}

#dbNavButtons_down td a, #dbNavButtons_up td a {
  font-size: 12.1667px;
  margin-bottom: 0;
  line-height: 15px;
}

#dbNavButtons_down td a:hover, #dbNavButtons_up td a:hover {
  border-bottom: 0;
  color: #fff;
}
