body {
  color: #000;
  font-size: 12.1667px;
}

#page-header {
  padding-bottom: 0 !important;
}

.nav-list.level-1 > .nav-list__item > a {
  font-size: 22px;
}

.nav-list__item p {
  margin-left: 0;
  margin-right: 0;
}

.nav-list__item a {
  font-size: 20px;
}

.dropdown-section p {
  font-size: 14.4px;
}

.mega-thumb-caption p {
  font-size: 24px;
}

.nav-list.level-2.share .nav-list__item h4 {
  font-size: 18px;
  color: #222;
}

.breadcrumb {
  font-size: 14px;
}

.main-footer .footer-nav li, .main-footer .footer-utility p {
  font-size: 17.6px;
}

body {
  color: #000;
}

div#page-container {
  width: 100% !important;
}

#page-body {
  width: 940px;
  margin: 0 auto 20px auto;
  min-height: 600px;
}

.sticky-logo .ir {
  line-height: 30px;
}

/* WR-1046: fix font size of copyright in footer */
.copyright--span {
  font-size: 16px;
}

/* WR-1041: fix for search UI CSS issues affecting dynamic apps */
.megamenu--search-bar__heading {
  padding-bottom: 0;
  margin-bottom: 20px;
  background: none;
  color: #565656;
  font-family: "Elysio-Light",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 33px;
  line-height: 1.35em;
}

#page-header {
  background-image: none;
}

html > body #microsite-nav-backToSection {
  margin-left: 110px;
  margin-bottom: 10px;
}

#microsite-head {
  margin-top: 15px;
}

#microsite-head h1 {
  color: #015b28;
}

#microsite-head ul {
  font-size: 12.1667px;
}

#microsite-head ul a {
  color: #015b28;
}

#microsite-body {
  margin-bottom: 15px !important;
}

#microsite-body h2 {
  padding-bottom: 0;
}

#microsite-body a {
  color: #015b28;
}

#microsite-body a:hover, #microsite-body a:visited, #microsite-body a:focus {
  color: #015b28;
}

#microsite-body h3 {
  margin-left: 0;
  padding-bottom: 0;
  color: #015b28;
}

#microsite-body h4 {
  font-weight: bold;
  font-size: 14.6px;
  color: #015b28;
  padding-bottom: 0;
  margin-bottom: 0;
}

#microsite-body h4 a {
  font-weight: bold;
}

#microsite-body h5 {
  color: #015b28;
}

#microsite-body p {
  margin: 0;
}

#microsite-body p a {
  font-weight: normal;
}

#microsite-body ul {
  font-size: 12.1667px;
}

#microsite-body select {
  height: auto;
  padding: 0;
  background-color: #fff;
  margin-bottom: 3px;
}

#microsite-body input {
  padding: 1px 3px;
}

#microsite-body .collapseParas {
  border-collapse: initial;
  border-spacing: 1px;
}

#microsite-nav-local-menu {
  margin-bottom: 0;
}

#dbNavButtons_down, #dbNavButtons_up {
  margin: 3px 2px 3px 1px;
}

#dbNavButtons_down td, #dbNavButtons_up td {
  vertical-align: top;
  padding-right: 2px;
}

#dbNavButtons_down td a, #dbNavButtons_up td a {
  font-size: 12.1667px;
  margin-bottom: 0;
  color: #fff;
  font-weight: normal;
  background-repeat: no-repeat;
  line-height: 15px;
}

#dbNavButtons_down td a:hover, #dbNavButtons_down td a:visited, #dbNavButtons_down td a:focus, #dbNavButtons_up td a:hover, #dbNavButtons_up td a:visited, #dbNavButtons_up td a:focus {
  border-bottom: 0;
  color: #fff;
}
