/*
 * 
 * Needed to improve the dialog style due to the amount of info displayed
 *
 */
.events-dialog .event-list .x-panel-body {
    display: inline-flex !important;
}

.events-dialog .event-list .x-form-check-wrap {
    width: 100px !important;
    line-height: 25px !important;
}

.events-dialog .event-list .x-form-check-wrap input {
    vertical-align: inherit !important;
}

.events-dialog .recur-list .x-form-text {
    min-width: 175px !important;
    max-width: 175px !important;
}

.events-dialog .dates-container {
    margin-left: -134px !important;
    width: 717px !important;
}

.events-dialog .dates-container-field {
    border-bottom: 1px solid #999 !important;
}

.events-dialog .dates-container .x-panel-header {
    width: 707px !important;
}

.events-dialog .recurrence-panel {
    margin-left: -102px !important;
    width: 640px !important;
} 

.events-dialog .dates-container .x-panel-body,
.events-dialog .times-container .x-panel-header,
.events-dialog .recurrence-panel .x-panel-body{
    width: auto !important;
}

.events-dialog .dates-container .x-toolbar-cell {
    vertical-align: top !important;
}

.events-dialog .dates-container .x-panel-bwrap {
    overflow: visible !important;
}

.events-dialog .dialog-checkbox .x-panel-bwrap,
.events-dialog .dialog-checkbox .x-panel-body {
    width: 50% !important;
}

.events-dialog .times-container {
    width: 350px !important;
}

.events-dialog .dates-container .event-list .x-form-check-wrap {
    width: 75px !important;
}