//Global ??

body {
	color: #000;
	font-size: 12.1667px;
}

#page-header {
	padding-bottom: 0!important;
}

.nav-list.level-1 > .nav-list__item > a {
	font-size: 22px;
}

.nav-list__item {
	p {
		margin-left: 0;
		margin-right: 0;
	}
	a {
		font-size: 20px;
	}
}

.dropdown-section p {
	font-size: 14.4px;
}

.mega-thumb-caption {
	p {
		font-size: 24px;
	}
}

.nav-list.level-2.share {
	.nav-list__item {
		h4 {
			font-size: 18px;
			color: #222;
		}
	}
}

.breadcrumb {
	font-size: 14px;
}

.main-footer .footer-nav li, .main-footer .footer-utility p {
	font-size: 17.6px;
}

div#page-container {
	width: 100%!important;
}

#page-body {
	width: 940px;
	margin: 0 auto 10px auto;
  	min-height: 600px; /* added to fix the sticky nav being buggy */
}

.sticky-logo a {
	top: -0.5em;
}

/* WR-1046: fix font size of copyright in footer */
.copyright--span {
  font-size: 16px;
}

/* WR-1041: fix for search UI CSS issues affecting dynamic apps */
.megamenu--search-bar__heading {
  padding-bottom: 0;
  margin-bottom: 20px;
  background: none;
  color: #565656;
  font-family: "Elysio-Light",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 33px;
  line-height: 1.35em;
}
// End Global

input[type="submit"] {
	-webkit-appearance: button;
	appearance: button;
}

#microsite-head, #microsite-body, .dbNavContainer, .collapseParas {
	width: 744px!important;
}

#microsite-head {
	h1, h2 {
		text-align: center;
		clear: none!important;
	}

	h1 {
		font-size: 24.3333px;
		margin-top: 0;
		color: #015b28;
	}

	ul {
		font-size: 12.1667px;

		a {
			color: #015b28;
		}
	}
}

#page-body {
	a {
		&:link, &:visited {
			color: #015b28;
		}

		&:hover {
			border-bottom-width: 0;
		}
	}
}

html > body #microsite-nav-backToSection {
	margin-left: 98px;
}

#nav-breadcrumbs-menu {
	a {
		&:link, &:visited {
			color: #000;
		}
	}	
}

#microsite-body {
	p {
		margin: 0;
	}

	ul, ol {
		font-size: 12.1667px;
	}

	ol {
		li {
			list-style: inherit;
		}
	}

	.index {
		td {
			padding-bottom: 10px;
		}
	}

	table {
		td {
			h4 {
				margin-bottom: 0;
				a {
					font-weight: bold;
				}
			}

			hr {
				border-color: #015b28;
				margin: 0;
				height: auto;
			}

			.accent1 {
				padding: 7px 6px 10px 5px;

				input[type="text"] {
					box-shadow: none;
					height: auto;
					padding: 1px 3px;
					margin: 0;
					font-size: 12.1667px;
				}

				td {
					padding-bottom: 0;
				}

				input[type="submit"] {
					height: 20px;
					width: 30px;
					margin-top: 4px;
					margin-right: 5px;
				}

				select {
					margin: 0;
					height: initial;
					padding: 0 3px;
				}

				.background {
					input[type="submit"] {
						margin-top: 0;
						margin-right: 0;
					}
				}
			}

			a {
				img {
					padding-top: 4px;
					float: right;
				}
			}
		}
	}

	h3 {
		margin: 0 0 10px 0;
		padding-bottom: 0;
		color: #015b28;
	}

	#ucd-table-key {
		td {
			padding-bottom: 3px;
		}
	}

	.searchTable_ms {
		td {
			padding: 2px 2px 2px 5px;
		}

		select {
			background-color: #fff;
			height: auto;
			padding: 0;
			margin: 0;
		}

		input[type="text"] {
			box-shadow: none;
			height: auto;
			padding: 1px 3px;
			margin: 0;
			display: inline;
		}

		select[name^=HOSTFAMILY] {
			width: 243px!important;
		}

		img {
			height: 3px;
			width: 50px;
		}

		input[type="submit"] {
			padding: 1px 5px;
		}
	}

	blockquote {
		padding-top: 0;
	}

	form {
		td {
			padding-bottom: 4px;
		}
	}

	.dbNavContainer{
		border-collapse: initial;
		border-spacing: 1px;

		.button {
			margin: 0;
			color: #fff;
			font-size: 12.1667px;
			padding-top: 2px;
		}

		a {
			img {
				padding-top: 0;
				margin-left: 2px;
			}
		}
	}

	.dataTable_ms {
		border-collapse: initial;
		border-spacing: 1px;
	}

	#dbNavButtons_down {
		.button {
			margin: 0;
			color: #fff;
			font-size: 12.1667px;
			padding-top: 2px;
		}
	}

	.collapseParas {
		td {
			padding-bottom: 5px;
		}
	}

	.galleryTable_ms {
		img {
			float: none;
			padding-top: 0;
			max-height: none;
		}
	}

	.tabPanel {
		.tabs {
			a {
				font-weight: bold;
				color: #000;
			}
		}

		.tabHeader {
			p {
				padding-bottom: 0;
				margin-left: 0;
				text-align: left;
			}

			select {
				padding: 0;
				height: auto;
				margin-bottom: 0;
			}
		}
	}

	img {
		max-width: initial;
		max-height: 100%;
	}

	.data-table {
		margin-bottom: 20px;

		blockquote {
			border-left: none;
			color: #000;
			margin-bottom: 10px;

			p {
				color: #000;
			}
		}
	}
}

.superFamily {
	img {
		vertical-align: middle;
	}
}

.tabContent {
	.ucdRefTable {
		img {
			max-width: initial;
		}
	}

	h5 {
		margin-bottom: 0;
	}
}

div.superFamily {
	top: -38px!important;
}
