service.special_link_patterns=""
service.special_link_prefix=["javascript:","data:","mailto:","#","<!--","${","http://www.nhm.ac.uk"]
service.bad_link_tolerance_interval=I"48"
service.check_override_patterns=["^system/","^/about-us.*","^/business-centre.*","^/buy-online.*","^/education.*","^/galleries.*","^/kids-only.*","^/my-nhm.*","^/nature-online.*","^/natureplus.*","^/research-curation.*","^/support-us.*","^/tring.*","^/visit.*"]
service.cache_broken_internal_links=B"false"
scheduler.concurrent=B"false"
scheduler.period=L"5"
