body {
    font-family: 'elysioregular', arial, sans-serif;
}
#main {
	width: 990px;
	margin: 10px auto;
}
#main img {
	margin-left: -35px;
}
#header {
	background-color: #eeeeee; /* was background: url('../images/curve-right.gif') top right no-repeat #d0ccc3;*/
	width: 990px;
	height: 215px;
	margin-top: 55px;
    border-bottom: 6px solid #eeeeee;
}
.last {
    background: #ffffff; /* was background: url('../images/curve-left.gif') bottom left no-repeat #f6f5f3;*/
}
h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 215px;
    vertical-align: middle;
    padding-left: 45px;
    font-family: 'elysiomedium', arial, sans-serif;
}
h2 {
    font-size: 47px;
    
}
table {
    position: absolute;
    top: 270px;
    width: 990px;
    background-color: #fff; /* was #d0ccc3 */
}
tr {
    
}
td {
    background: #ffffff; /* was #f6f5f3 */
    padding: 30px;
    vertical-align: top;
    border-bottom: 6px dotted #eeeeee; /* was border-top: 8px solid #d0ccc3 */
    overflow: hidden;
    width: 560px; /* was 552px */
    height: 330px;
    display: block;
    float: left;
    overflow: hidden;
}
td.left {
    border-right: none; /*was 8px solid #d0ccc3;*/
    width: 310px;
    text-align: right;
}
p {
    font-size: 30px;
    margin-top: 20px;
}
.left p {
    margin-top: 40px;
    font-size: 40px;
}
.highlight {
	color: #aa0000;
}